body{
  background-color: rgb(211, 211, 211);
}

.container{
  margin: auto;
  /* outline: solid 2px red; */
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  /* place-content: center center; */
  justify-items: center;
  align-items: center;
}

/* .item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.item:nth-child(even){
  background-color: salmon;
} */

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}
/* 
.header{
  width: 50px;
  height: 50px;
}

.sidebar{
  width: 50px;
  height: 50px;
}

.content{
  width: 50px;
  height: 50px;
}

.footer{
  width: 50px;
  height: 50px;
} */