body {
  background-color: grey;
  color: red;
}

.container {
  /* outline: solid 1px red; */
  margin:50px auto;
  width: 60%;
  /* height: 500px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr .5fr;
  gap: 10px 4px;
  grid-template-areas: 
    'header header header'
    'sidebar content content'
    'footer footer footer'
  ;
}

.item {
  padding: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.item:nth-child(even) {
  background-color: white;
} */


.header{
  background-color: white;
  grid-area: header;
}

.sidebar{
  grid-area: sidebar;
  background-color: aqua;
}

.content{
  grid-area: content;
  background-color: salmon;
}

.footer{
  grid-area: footer;
  background-color: black;
}